registry=https://common.repositories.cloud.sap/artifactory/api/npm/build.releases.npm/
@sap:registry=https://common.repositories.cloud.sap/artifactory/api/npm/build.releases.npm/
@dwc:registry=https://common.repositories.cloud.sap/artifactory/api/npm/build.releases.npm/
@cap-js:registry=https://common.repositories.cloud.sap/artifactory/api/npm/build.releases.npm/

//common.repositories.cloud.sap/artifactory/api/npm/build.releases.npm/:_authToken=${NPM_TOKEN_ARTIFACTORY}
//common.repositories.cloud.sap/artifactory/api/npm/build.releases.npm/:always-auth=true

@sap-cloud-sdk:min-release-age=0
ignore-scripts=true
min-release-age=4
allow-git=none
