version: 2
updates:
  - package-ecosystem: npm
    directory: '/'
    target-branch: 'main'
    schedule:
      interval: daily
      time: '01:00'
      timezone: 'Europe/Berlin'
    open-pull-requests-limit: 10
    ignore:
      # We only want to do major node updates on purpose, so don't create dependabot PRs for major versions
      - dependency-name: '@types/node'
        update-types: ['version-update:semver-major']
    groups:
      sap-cloud-sdk:
        patterns: ['@sap-cloud-sdk/*']
      langchain:
        patterns: ['langchain', '@langchain/*']
  - package-ecosystem: npm
    directory: '/'
    target-branch: 'v1-main'
    schedule:
      interval: daily
      time: '01:00'
      timezone: 'Europe/Berlin'
    open-pull-requests-limit: 10
    ignore:
      # We only want to do major node updates on purpose, so don't create dependabot PRs for major versions
      - dependency-name: '@types/node'
        update-types: ['version-update:semver-major']
      # Avoid langchain-v1 release for sdk v1-main
      - dependency-name: 'langchain'
        update-types: ['version-update:semver-major']
      - dependency-name: '@langchain/*'
        update-types: ['version-update:semver-major']
    groups:
      sap-cloud-sdk:
        patterns: ['@sap-cloud-sdk/*']
  - package-ecosystem: 'github-actions'
    directory: '/'
    schedule:
      interval: 'weekly'
      time: '01:00'
      timezone: 'Europe/Berlin'
    ignore:
    - dependency-name: 'SAP/ai-sdk-js'
      update-types: ['version-update:semver-major', 'version-update:semver-minor', 'version-update:semver-patch']
