{
  "$schema": "http://json.schemastore.org/prettierrc",
  "singleQuote": true,
  "filepath": "*.ts",
  "trailingComma": "none",
  "arrowParens": "avoid",
  "endOfLine": "lf",
  "overrides": [
    {
      "files": "jest.config.mjs",
      "options": {
        "trailingComma": "all"
      }
    }
  ]
}
