name: auto fix lint

on:
  pull_request:
    branches:
      - main

permissions:
  checks: write
  contents: write

jobs:
  fix-lint:
    if: github.actor != 'dependabot[bot]' && !github.event.pull_request.head.repo.fork
    runs-on: ubuntu-latest
    steps:
      - uses: sap/ai-sdk-js/.github/actions/setup@scripts
        with:
          token: ${{ secrets.GH_CLOUD_SDK_JS_ADMIN_WRITE_TOKEN }}
      - run: pnpm lint:fix
      - name: Commit Changes if needed
        run: |
          diff=`git diff`
          if [ ! -z "$diff" ]; then
            git config --global user.email "cloud-sdk-js@github.com"
            git config --global user.name "cloud-sdk-js"
            git commit -m "fix: Changes from lint" -a
            git push
          fi
