name: bump

on:
  # TODO: remove this before merge
  push:
    branches: ['ga-release']
  workflow_dispatch:
    inputs:
      majorVersion:
        description: Mandatory, when bumping a major version. Semver compatible version string (X.Y.Z). Must not be set for patch and minor version releases.
        required: false

jobs:
  bump:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          token: ${{ secrets.GH_CLOUD_SDK_JS_ADMIN_WRITE_TOKEN }}
          ref: 'main'
      - uses: pnpm/action-setup@v3
        with:
          version: ${{ vars.PNPM_VERSION }}
      - uses: actions/setup-node@v4
        with:
          node-version: ${{ vars.DEFAULT_NODE_VERSION }}
          cache: 'pnpm'
      - run: pnpm install --frozen-lockfile
      - name: Setup git
        run: |
          git config --global user.email "ai-sdk-js@github.com"
          git config --global user.name "ai-sdk-js"
      - uses: sap/cloud-sdk-js/.github/actions/changesets-fixed-version-bump@merge-changelogs
        name: Bump version
        id: bump
        with:
          majorVersion: ${{ inputs.majorVersion }}
      - uses: sap/cloud-sdk-js/.github/actions/commit-and-tag@merge-changelogs
        name: Commit and tag
        with:
          version: ${{ steps.bump.outputs.version }}
      # - name: Push
      #   run: |
      #     git push --follow-tags
