name: delete-dist-tag

on:
  workflow_dispatch:
    inputs:
      tag:
        description: 'Dist tag to delete.'
        type: string
        required: true

jobs:
  publish:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.node-version }}
          registry-url: 'https://registry.npmjs.org'
          cache: 'pnpm'

      - name: delete dist tag
        run: |
          npm dist-tag rm @sap-ai-sdk/gen-ai-hub ${{ inputs.tag }}
          npm dist-tag rm @sap-ai-sdk/ai-api ${{ inputs.tag }}
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPMJS_ACCESS_TOKEN }}
