name: draft-release

on:
  push:
    tags: ['v*']

jobs:
  draft-github-release:
    runs-on: ubuntu-latest
    steps:
      - uses: sap/ai-sdk-js/.github/actions/setup@scripts
      - uses: sap/cloud-sdk-js/.github/actions/merge-changelogs@main
        name: merge changelogs
        id: merge-changelogs
      - uses: ncipollo/release-action@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          draft: true
          body: ${{ steps.merge-changelogs.outputs.changelog }}
