name: draft-release

on:
  workflow_dispatch:
  push:
    tags: ['v*']

jobs:
  draft-github-release:
    runs-on: ubuntu-latest
    steps:
      - uses: sap/ai-sdk-js/.github/actions/setup@main
      - name: Get Changelog
        uses: sap/cloud-sdk-js/.github/actions/get-changelog@main
        id: get-changelog
      - uses: ncipollo/release-action@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          draft: true
          body: ${{ steps.get-changelog.outputs.changelog }}
      - name: Update release notes
        run: |
          git config --local user.email "cloudsdk@sap.com"
          git config --local user.name "SAP Cloud SDK Bot"
          git checkout -b "update-release-notes"
          git commit -m "update release notes" -a
          git push -u origin update-release-notes

          echo ${{ secrets.BOT_SDK_JS_FOR_DOCS_REPO_PR  }} | gh auth login --hostname github.com --with-token
          gh config set prompt disabled
          PR_BODY="Auto-created by draft release notes workflow."
          PR_TITLE="Update JS Release Notes"
          gh pr create --head "update-release-notes" --title "${PR_TITLE}" --body "${PR_BODY}"
