name: 'Fosstars (Security)'

on:
  workflow_dispatch:
  schedule:
    - cron: '0 0 * * *'

jobs:
  fosstars-rating:
    runs-on: ubuntu-latest
    name: 'Security rating'
    steps:
      - uses: actions/checkout@v4
      - uses: SAP/fosstars-rating-core-action@v1.14.0
        with:
          token: '${{ secrets.GH_CLOUD_SDK_JS_ADMIN_WRITE_TOKEN }}'
      - name: 'Slack Notification'
        if: failure()
        uses: slackapi/slack-github-action@v2.1.1
        with:
          webhook: ${{ secrets.SLACK_WEBHOOK }}
          webhook-type: incoming-webhook
          payload: |
            {
              "username": "Fosstars Rating",
              "text": "Fosstars rating <https://github.com/SAP/ai-sdk-js/actions/runs/${{ github.run_id }}|failed>.",
            }

