name: publish

on:
  workflow_dispatch:
  release:
    types: [published]

jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          ref: 'main'
      - name: Checkout Docs
        uses: actions/checkout@v4
        with:
          repository: SAP/ai-sdk
          token: ${{ secrets.BOT_SDK_JS_FOR_DOCS_REPO_PR }}
          fetch-depth: 0 # otherwise, there would be errors pushing refs to the destination repository.
          path: ./ai-sdk
      - uses: sap/ai-sdk-js/.github/actions/setup@main
        with:
            node-version: 20     
      - name: Update release notes
        run: |
          echo $(pwd) # Confirm the directory
          # Execute using pnpm to ensure the local ts-node is used within the workspace context
          # NODE_OPTIONS tells Node how to load .ts files
          # pnpm ts-node runs the local version
          # --esm tells ts-node to use ESM mode
          NODE_OPTIONS="--loader ts-node/esm" pnpm ts-node --esm scripts/execute-add-changelog.ts
      - name: Open PR
        id: open_pr
        run: |
          cd ai-sdk  
          echo $(pwd) # Confirm the directory
          echo $(ls -la)
          cd ..
          echo $(pwd) # Confirm the directory
          echo $(ls -la)
          git config --local user.email "cloudsdk@sap.com"
          git config --local user.name "SAP Cloud SDK Bot"
          BRANCH_NAME="update-release-notes-${{ github.run_id }}" # Define a unique branch name
          git checkout -b "${BRANCH_NAME}"
          git add docs-js/release-notes.mdx
          if git diff --staged --quiet; then
            echo "No changes to commit."
          else
            git commit -m "update release notes" -a
            git push -u origin "${BRANCH_NAME}"

            echo ${{ secrets.BOT_SDK_JS_FOR_DOCS_REPO_PR }} | gh auth login --hostname github.com --with-token
            gh config set prompt disabled
            PR_BODY="Auto-created by update release notes workflow."
            PR_TITLE="Update JS Release Notes"
            # Add --auto and --squash flags to enable auto-merge with squash strategy
            gh pr create --head "${BRANCH_NAME}" --title "${PR_TITLE}" --body "${PR_BODY}" --auto --squash
          fi
      # - uses: sap/ai-sdk-js/.github/actions/setup@main
      # - name: publish
      #   run: |
      #     pnpm changeset publish # Use pnpm here too if publishing
      #   env:
      #     NODE_AUTH_TOKEN: ${{ secrets.NPMJS_ACCESS_TOKEN }}
