name: publish-canary

on:
  workflow_call:
    inputs:
      tag:
        description: 'Dist tag for the release. If you chose something different than "canary", make sure to delete it once it is not needed anymore.'
        type: string
        required: false
        default: 'canary'
jobs:
  prepare-release:
    runs-on: ubuntu-latest

    steps:
      - uses: sap/ai-sdk-js/.github/actions/setup@main
        with:
          node-version: ${{ vars.DEFAULT_NODE_VERSION }}
          pnpm-install-args: ''

      - name: prepare canary changeset
        run: |
          rm -f .changeset/*.md || true
          cat <<EOT >> .changeset/canary-release-changeset.md
          ---
          '@sap-ai-sdk/core': patch
          ---

          Canary release
          EOT

      - name: version canary release
        run: |
          date=`date +%Y%m%d%H%M%S`
          pnpm changeset pre enter ${date}
          pnpm changeset version
          pnpm changeset pre exit

  publish-npm:
    needs: prepare-release
    runs-on: ubuntu-latest
    permissions:
      id-token: write
    steps:
    - uses: sap/ai-sdk-js/.github/actions/setup@main
      with:
        node-version: 24 # Will install npm 11 needed for trusted publishing
    - name: publish
      run: |
        pnpm changeset publish
