name: publish-canary

on:
  schedule:
    - cron: '0 1 * * *'
  workflow_dispatch: ~
  pull_request: ~

jobs:
  publish:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
      - uses: pnpm/action-setup@v3
        with:
          version: ${{ vars.PNPM_VERSION }}
      - uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.node-version }}
          # registry-url: 'https://registry.npmjs.org'
          cache: 'pnpm'

      - name: install and build
        run: pnpm install

      - name: prepare canary changeset
        run: |
          rm -f .changeset/*.md || true
          cat <<EOT >> .changeset/canary-release-changeset.md
          ---
          '@sap-ai-sdk/ai-core': patch
          '@sap-ai-sdk/gen-ai-hub': patch
          ---

          Canary release
          EOT

      - name: publish
        run: |
          cat .npmrc
          date=`date +%Y%m%d%H%M%S`
          pnpm changeset pre enter ${date}
          pnpm changeset version
          pnpm changeset pre exit
          pnpm changeset publish --tag canary
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPMJS_ACCESS_TOKEN }}
