name: smoke test

on:
  pull_request: ~
  workflow_dispatch:
  schedule:
    - cron: 0 22 * * *

jobs:
  smoke-test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: pnpm/action-setup@v3
        with:
          version: ${{ vars.PNPM_VERSION }}
      - uses: actions/setup-node@v4
        with:
          node-version: ${{ vars.DEFAULT_NODE_VERSION }}
          cache: 'pnpm'
      - run: pnpm i --frozen-lockfile
      # - name: Create .env file
      #   env:
      #     aicore: ${{ secrets[matrix.secret-name] }}
      #   run: |
      #     echo "aicore='$aicore'" > sample-code/.env
      #     echo "aicore='$aicore'" > tests/e2e-tests/.env
      #     url=$(echo "$aicore" | jq -r '.serviceurls.AI_API_URL' | sed 's|^https://||')
      #     echo "Using AI Core ${{ matrix.environment }} instance on $url"
      - name: setup app
        run: |
          pnpm run create-deployment
          pnpm run compile
      - uses: vchrisb/setup-cf@v0
        name: deloy to CF
        with:
          api: ${{ secrets.CF_API_URL }}
          username: ${{ secrets.CF_USER }}
          password: ${{ secrets.CF_PASSWORD }}
          org: ${{ vars.CF_ORG }}
          space: ${{ vars.CF_SPACE }}
          command: push
      - name: smoke test
        run: pnpm test:smoke
