name: "Spec File Update Workflow (Cron Job)"

on:
  schedule:
    # At 03:21 on every 15th day-of-month from 2 through 31.
    # Example:
    #  2025-04-17 03:21:00
    #  2025-05-02 03:21:00
    #  2025-05-17 03:21:00
    - cron: 21 3 2/15 * * 

jobs:
  spec-update-ai-api:
    uses: SAP/ai-sdk-js/.github/workflows/spec-update.yaml@main
    with:
      file: ai-api
    secrets: inherit
  spec-update-document-grounding:
    uses: SAP/ai-sdk-js/.github/workflows/spec-update.yaml@main
    with:
      file: document-grounding
    secrets: inherit
  spec-update-orchestration:
    uses: SAP/ai-sdk-js/.github/workflows/spec-update.yaml@main
    with:
      file: orchestration
    secrets: inherit
  spec-update-prompt-registry:
    uses: SAP/ai-sdk-js/.github/workflows/spec-update.yaml@main
    with:
      file: prompt-registry
    secrets: inherit
