name: 'Spec File Update Workflow (Cron Job)'

on:
  schedule:
    # At 03:21 on every 15th day-of-month from 1 through 31.
    # Example:
    #  2025-04-16 03:21:00
    #  2025-05-01 03:21:00
    #  2025-05-16 03:21:00
    - cron: 21 3 1/15 * *

jobs:
  spec-update-ai-api:
    uses: SAP/ai-sdk-js/.github/workflows/spec-update.yaml@main
    with:
      file: ai-api
    secrets: inherit
  spec-update-document-grounding:
    uses: SAP/ai-sdk-js/.github/workflows/spec-update.yaml@main
    with:
      file: document-grounding
    secrets: inherit
  spec-update-prompt-registry:
    uses: SAP/ai-sdk-js/.github/workflows/spec-update.yaml@main
    with:
      file: prompt-registry
    secrets: inherit
  # see comments in spec-update.yaml
  # get-rpt-tag:
  #   runs-on: ubuntu-latest
  #   outputs:
  #     tag: ${{ steps.get-tag.outputs.tag }}
  #   steps:
  #     - name: Get latest tag
  #       id: get-tag
  #       run: |
  #         TAG=$(git -c 'versionsort.suffix=-' ls-remote --tags --sort='v:refname' https://github.tools.sap/DL-COE/sap-rpt-1-public-content | tail --lines=1 | cut -f 2)
  #         echo "tag=$TAG" >> $GITHUB_OUTPUT
  # spec-update-rpt:
  #   needs: get-rpt-tag
  #   uses: SAP/ai-sdk-js/.github/workflows/spec-update.yaml@main
  #   with:
  #     file: rpt
  #     file-ref: ${{ needs.get-rpt-tag.outputs.tag }}
  #   secrets: inherit
